.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.gallery {
  width: 70%;
}

.gallery p:first-child {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
